ion-content {
    --background: white;
}

ion-title {
    --color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ion-toolbar {
    --background: #00796B;
    --color: white;
}

ion-text {
    font-family: Arial, Helvetica, sans-serif;
}

.mensaje {
    --background: #607D8B;
}

ion-item {
    --background: #f5f5f5;
    --color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ion-button {
    font-family: Arial, Helvetica, sans-serif;
}

