<ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="events"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="leyenda">
    <p (click)="mostrarOcultar()">
      <ion-text color="medium"> ¿Qué es esto?</ion-text>
    </p>
  </ion-item>
  <div id="mostrarOcultar" style="display: none;">
    <ion-card>
      <ion-card-content>
        La sección de eventos te permite ver los eventos próximos en la comunidad de Cucei así como
        poder crear un evento propio para invitar a quien lo vea a participar en el.
      </ion-card-content>
    </ion-card>
  </div>

  <ion-list>

    <ion-text *ngIf="eventService.eventList.length < 1" color="medium">
      <div style="font-size: 24px" class="ion-text-center">
        No hay eventos disponibles.
      </div>
    </ion-text>

    <ion-card *ngFor="let event of eventService.eventList">
      <ion-item color="headerColor">
        <ion-avatar slot="start">
          <img src="assets/icon/avatar.png">
        </ion-avatar>
        <ion-label>
          <h3 class="user">
            <ion-text color="myPrimaryText">
              {{event.user.name + ' ' + event.user.lastName}}
            </ion-text>
          </h3>
          <p class="date">
            <ion-text color="myPrimaryText">
              {{event.dateStart | date: 'MMM d, y': 'UTC'}}
            </ion-text>
          </p>
        </ion-label>
        <ion-label color="light"slot=end>
          <strong> Fin: </strong> 
          <ion-text>
            {{event.dateEnd | date: 'MMM d, y': 'UTC'}}
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-card-header>
        <ion-card-title>{{ event.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{event.body}}
      </ion-card-content>

      <ion-footer *ngIf="(event.user._id == user._id) || (user.permission == 1)">
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button color="myPrimary" (click)="editEvent(event._id)">
              <ion-label>
                EDITAR
              </ion-label>
              <ion-icon slot="end" class="iconEdit" name="create"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button class="btnCerrar" color="danger" (click)="confirmClose(event._id)"> CERRAR
              <ion-icon name="close-circle" class="iconClose"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-card>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="success" routerLink="/event-form/0">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>