.center-content{
    justify-content: center;
    align-items: center;
    display: flex;
}

.big-size {
    width: 150px;
    height: 150px;
}

.text-label{
    font-size: 16px;
    color: rgb(20, 54, 119);
}

.text-input{
    font-size: 18px;
}

.text-input[readonly] {
    color: rgb(145, 145, 145);
}

ion-content {
    --background: white;
}

ion-title {
    --color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.btnEditar {
    --background: #2dd36f; 
}

.icon {
    padding-bottom: 2px;
    padding-left: 2px;
}

ion-button {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ion-item {
    --background: #f5f5f5;
    --color: black;
}