<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<img class="logotipo" src="assets/icon/logotipo.png">

<ion-item>
  <ion-label position="floating"> Correo electrónico </ion-label>
  <ion-input type="email" name="email" ></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating"> Contraseña </ion-label>
  <ion-input type="password" name="password"></ion-input>
</ion-item>

<ion-button class="button" mode="ios"  type="submit">Entrar</ion-button>

<div class="links">
  <a routerLink="/lost-password">¿Olvidaste tu contraseña?</a><br><br>
  <a routerLink="/new-account">Crear Cuenta Nueva</a>
</div>
  
</ion-content>   