.logotipo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button{
    margin-top: 30px;
    margin-left: 60px;
    height: 40px;
    width: 70%;
}

.links {
   text-align: center; 
   margin-right: 100px;
   margin-left: 100px;
   padding-top: 30px;
}