<ion-header>
  <ion-toolbar>
    <ion-title>Habilidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item color="light">
    <ion-text>
      <div style="font-size: 24px" class="ion-text-center">
        <p>Esta aplicación es para ayudarnos entre la comunidad de CUCEI.</p>
        <p>Cuentanos más sobre tus habilidades.</p>
      </div>
    </ion-text>
  </ion-item>

<ion-list>
  <ion-item>
    <ion-checkbox slot="start" color="danger" checked="false" mode="ios" (ionChange)="skillsChecked($event, 'matematicas')"></ion-checkbox>
    <ion-label>Matemáticas</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-checkbox slot="start" color="danger" checked="false"  mode="ios" (ionChange)="skillsChecked($event, 'programacion')"></ion-checkbox>
    <ion-label>Programación</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-checkbox slot="start" color="danger" checked="false"  mode="ios" (ionChange)="skillsChecked($event, 'logica')"></ion-checkbox>
    <ion-label>Lógica</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-checkbox slot="start" color="danger" checked="false"  mode="ios" (ionChange)="skillsChecked($event, 'electronica')"></ion-checkbox>
    <ion-label>Electrónica</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-checkbox slot="start" color="danger" checked="false"  mode="ios" (ionChange)="skillsChecked($event, 'web')"></ion-checkbox>
    <ion-label>Web</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-checkbox slot="start" color="danger" checked="false"  mode="ios" (ionChange)="skillsChecked($event, 'redes')"></ion-checkbox>
    <ion-label>Redes</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-checkbox slot="start" color="danger" checked="false"  mode="ios" (ionChange)="skillsChecked($event, 'algoritmos')"></ion-checkbox>
    <ion-label>Algoritmos</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-checkbox slot="start" color="danger" checked="false"  mode="ios" (ionChange)="skillsChecked($event, 'inteligencia artificial')"></ion-checkbox>
    <ion-label>Inteligencia artificial</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-checkbox slot="start" color="danger" checked="false"  mode="ios" (ionChange)="skillsChecked($event, 'sistemas')"></ion-checkbox>
    <ion-label>Sistemas</ion-label>
  </ion-item>
</ion-list>

<ion-button class="button" mode="ios" type="submit">Guardar</ion-button>

<p class="ion-text-center" style="font-size: 15px">Puedes modificar tus habilidades más tarde en tu pérfil.</p>

</ion-content>
