.logotipo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.iniciar{
    text-align: center;
    text-justify: auto;
}

.button{
    margin-top: 20px;
    margin-left: 60px;
    height: 40px;
    width: 70%;
}
