<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class="logotipo" src="assets/icon/logotipo.png">

  <form #formLogin="ngForm">
    <ion-item>
      <ion-label position="floating"> Nombre Completo </ion-label>
      <ion-input [(ngModel)]="user.name" type="text" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Apellido </ion-label>
      <ion-input type="text" [(ngModel)]="user.lastName" name="apellido" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Edad </ion-label>
      <ion-input type="number" [(ngModel)]="user.age" name="edad" id="age" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Codigo </ion-label>
      <ion-input type="text" [(ngModel)]="user.code" name="codigo" id="code" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Carrera </ion-label>
      <ion-input type="text" [(ngModel)]="user.career" name="carrera" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Correo electrónico </ion-label>
      <ion-input type="email" [(ngModel)]="user.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Contraseña </ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Repita su contraseña </ion-label>
      <ion-input type="password" name="password2" (keyup)="verifyPassword($event.target.value)"required></ion-input>
    </ion-item>

  </form>
  <ion-button mode="ios" (click)="addUser()" class="button" type="submit" [disabled]="!(formLogin.valid && (bandera==true))" id="btn">Registrar</ion-button>

  <div class="iniciar">
    <p>¿Ya tienes una cuenta?</p>
    <a routerLink="/login/">Inicia sesión ahora</a>
  </div>


</ion-content>