<ion-header>
  <ion-toolbar color="primary">
    <ion-title>¿Olvidaste tu contraseña?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <img class="logotipo" src="assets/icon/logotipo.png">
  
  <div class="mensaje">
    <h4>
      ingresa tu correo electrónico para recuperar tu contraseña
    </h4>
  </div>

  <ion-item>
    <ion-label position="floating"> Correo electrónico </ion-label>
    <ion-input type="email" name="email" ></ion-input>
  </ion-item>

  <ion-button mode="ios" class="button" type="submit">Enviar</ion-button>

  <div class="registro">
    <p>¿Aún no tienes cuenta?</p>
    <a routerLink="/new-account">Registrate ahora!</a>
  </div>
  

</ion-content>