ion-content {
    --background: white;
}

ion-icon {
    color: #42a5f5;
}

ion-toolbar {
    --background: #00796B;
}

ion-title {
    --color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ion-item {
    --background: #fafafa;
    --color: black;
}