<ion-header>
  <ion-toolbar color="headerColor">
    <ion-title>Actualizar habilidades</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="events"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="full">
    <ion-text color="myPrimaryTextColor" style="font-size: large;">
      <div class="ion-text-center" style="padding-top: 5px;">
        Por favor marca la(s) habilidad(es) que posees. Con esto podras apoyar a la comunidad de alumnos.
      </div>
    </ion-text>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let check of checkList">
      <ion-checkbox slot="start" color="success" [(ngModel)]="check.isCheck" (ionChange)="validateForm()">
      </ion-checkbox>
      <ion-label>{{ check.name }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" class="btnActualizar" color="headerColor" (click)="updateSkill()" [disabled]="!formValid">Actualizar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>