<ion-header>
  <ion-toolbar>
    <ion-title>¿Olvidaste tu contraseña?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <img class="logotipo" src="assets/icon/logoV2.png">
  
  <div class="mensaje">
    <h4>
      Ingresa tu correo electrónico para recuperar tu contraseña.
    </h4>
  </div>

  <ion-item>
    <ion-label position="floating"> Correo electrónico </ion-label>
    <ion-input type="email" name="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required></ion-input>
  </ion-item>

  <ion-button expand="full" class="button" type="submit">Enviar</ion-button>

  <div class="registro">
    <p>¿Aún no tienes cuenta?</p>
    <a routerLink="/new-account">Registrate ahora!</a>
  </div>
  

</ion-content>