ion-content {
    --background: white;
}

ion-title {
    --color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ion-toolbar {
    --background: #00796B;
}

ion-item {
    --background: #fafafa;
    --color: black;
    --border-color: black;
}

ion-button {
    --background: #009688;
    font-family: Arial, Helvetica, sans-serif;
}


.logotipo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mensaje{
    text-align: center;
    text-justify: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: large;
}

.registro{
    text-align: center;
    text-justify: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: large;
}

.button{
    margin-top: 30px;
    margin-left: 60px;
    height: 40px;
    width: 70%;
}
