<ion-header>
  <ion-toolbar>
    <ion-title>Preguntas
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="events"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-text *ngIf="questionService.questionList.length < 1" color="medium">
      <div style="font-size: 24px" class="ion-text-center">
        No hay preguntas disponibles.
      </div>
    </ion-text>

    <ion-item class="select" *ngFor="let question of questionService.questionList" (click)="viewQuestion(question._id)">
      <ion-avatar slot="start">
        <img src="https://i.ytimg.com/vi/esJOOQG42r0/maxresdefault.jpg">
      </ion-avatar>
      <ion-text slot="end" color="medium"> {{question.date | date: 'd/M/yyyy'}} </ion-text>
      <ion-label>
        <ion-text>
          <h2 class="user">  {{ question.user.name + ' ' + question.user.lastName }} </h2>
        </ion-text>
        <h2 class="title"><strong> {{ question.title }} </strong></h2>
        <ion-text color="medium">
          <span> {{ question.body }} </span>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
