<ion-header>
  <ion-toolbar>
    <ion-title>Preguntas
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="events"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="leyenda">
    <p (click)="showHide()"> <ion-text color="primary"> ¿Qué es esto?</ion-text></p>
  </ion-item>
  <div id="showHide" style="display: none;">
      <ion-card>
        <ion-card-content>
          En esta sección podrás ver todas las preguntas que se han realizado
          en todo el foro. Las preguntas aquí abarcan los temas en general, si necesitas
          buscar una pregunta con un tema en específico la sección de Ayudar es la indicada.
        </ion-card-content>
      </ion-card>
  </div>

  <ion-list>

    <ion-text *ngIf="questionService.questionList.length < 1" color="medium">
      <div style="font-size: 24px" class="ion-text-center">
        No hay preguntas disponibles.
      </div>
    </ion-text>

    <ion-item *ngFor="let question of questionService.questionList" (click)="viewQuestion(question._id)">
      <ion-avatar slot="start">
        <img src="https://i.ytimg.com/vi/esJOOQG42r0/maxresdefault.jpg">
      </ion-avatar>
      <ion-text slot="end" color="myPrimaryDark"> {{question.date | date: 'd/M/yyyy'}} </ion-text>
      <ion-label>
        <ion-text color="myPrimaryDark">
          <h2>  {{ question.user.name + ' ' + question.user.lastName }} </h2>
        </ion-text>
        <h2><strong> {{ question.title }} </strong></h2>
        <ion-text color="myPrimaryTextColor">
          <span> {{ question.body }} </span>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
